/* =========================================================================
   FOOTER
   ========================================================================= */
.footer {
    margin-top: 38px;
    padding-top: 28px;
    border-top: 1px solid #d8e8ef;
    display: flex;
    justify-content: space-between;
    color: #98b1bc;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 800;
}

.footer a {
    color: #7fa1ad;
    text-decoration: none;
    margin-left: 38px;
}